<h1>Home</h1>
<ul data-role="listview" data-inset="true" data-filter="true">
	<li><a href="#">Children</a></li>
	<li><a href="#">First Impressions</a></li>
	<li><a href="#">Food and Snacks</a></li>
	<li><a href="#">Outside</a></li>
	<li><a href="#">Seating</a></li>
	<li><a href="#">Sound System</a></li>
	<li><a href="#">Stage</a></li>
</ul>