<div id="splash-logo" class="center-align">
	<%= image_tag("imagine-logo-300.png", :alt => "Imagine Logo") %>
</div>
<div id="splash-content">
	<p>
		This app is designed specifically for Imagine Church to assist in the setup process. Use this app to view the instructions necessary to create the Imagine Church environment for service on Sundays.
	</p>
</div>
<div id="splash-button" class="center-align">
	<%= link_to 'Get Started', 'home', 'data-role' => 'button', 'data-inline' => 'true' %>
</div>